/* Reset margin and padding for the body and html elements */
    body, html {
        margin: 0;
        padding: 0;
}

/* sidebar */
    .sidebar{
        background-color: #333;
        width: 200px;
        height: 100%;
        position: fixed;
    /* display: flex; 
    flex-direction: column; 
    justify-content: center;  */
   
}
    .sidebar-style{
        list-style-type:none;
}

   /* Add padding to the list items */
    .sidebar-style li {
        padding: 20px 0; /* top and bottom padding */
}

  /* Remove underlines from links within list items */
    .sidebar-style li a {
        text-decoration: none;
        color: black;
}

    .container-sidebar {
        display: flex;
}

/* icons */
.sidebar-icons {
    list-style: none; /* Remove list bullets */
    padding: 0; /* Remove default padding */
}
/* Style for the icon items */
.sidebar-icons li {
    margin-bottom: 25px; /* Add vertical spacing between icons */
    margin-left: 40px;
}


/* About Me */
    .container-about {
       margin-top: 20em;
}

    .about-me {
        position: flex;
        margin-left: 20em;
    
}


