/* Reset margin and padding for the body and html elements */

  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Martel&family=Poppins:wght@200&display=swap');

    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
  
}

.hr-style {
    border-top: 5px solid #095484;
    width: 60%;
    margin-left: 8em;

}

    .h2-heading {
        color: #14376c;
        font-weight: bold;
}




/* sidebar */
    .sidebar{
       
        box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to right, #14376c, #2d9d8a);
        width: 220px;
        height: 100%;
        align-items: center;
        position: fixed;

   
}



    .sidebar-style{
        list-style-type:none;
        /* margin-top: 8em; */
      
}

   /* Add padding to the list items */
    .sidebar-style li {
        margin-left: 1.5em;
        padding: 0.7em; 
     
}


  
  /* Remove underlines from links within list items */
    .sidebar-style li a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 1.2em;
     
     
}

    .container-sidebar {
        display: flex;
      
}

/* icons */
.sidebar-icons {
    list-style: none; /* Remove list bullets */
    padding: 0; /* Remove default padding */
}
/* Style for the icon items */
.sidebar-icons li { 
    /* Add vertical spacing between icons  */
    margin-bottom: 20px; 
    margin-left: 6.4em;
   
  
 
}






/* Style the first name */
.name {

    margin-top: 2em;
  
} 

.first-name {
    color: #14376c; /* Change the color as desired */
    margin-left: 4em; /* Add left margin to separate from the last name */
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 5px 5px 4px rgba(94, 94, 94, 0.5);
}

/* Style the last name */
.last-name {
    color: #2d9d8a;

    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 5px 5px 4px rgba(94, 94, 94, 0.5);

}

/* Developer title */
.title {
    margin-left: 7.8em;
    font-weight: bold;
    font-size: 2.4em;
    color: #434343;
}



/* HelloMessage */
    #helloMessage {
        margin-left: 9.5em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 2em;
    }


/* About Me */
.container-about {
        margin-top: 25px; /* Add margin to separate from the name */
        margin-left: 19em;
        
}



.about-me p {
    font-size: 16px; /* Adjust the paragraph font size */
    line-height: 1.5; /* Set the line height for better readability */
    color: black; /* Set the paragraph text color */
    font-weight: 300;
}

/* .about-img {
    height: 15em;
    width: 15em;
  
   
} */






 /* Call to Action */
 /* .row {
    display: flex; */
    /* -ms-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    /* margin-right: -15px; */
    /* margin-left: -15px;
 } */

 /* .h3-cta {
    margin-top: 1em;
    font-size: large;
    margin-left: 10.2em;
 }
 .button-cta {
  
    margin-top: 0.8em;
    border-radius: 0.6em;
    height: 2em;
 } */



/* .art-img {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    border-left: #14376c solid 8px;

}  */







/* Skills */
.container-skills {
    margin-top: 25px; /* Add margin to separate from the name */
    margin-left: 8em;

  
}
.img-skills {
   margin-top: 1em;
    width: 50%;
    margin-left: 4em;  

}

.container-portfolio {
    margin-top: 25px; /* Add margin to separate from the name */
    margin-left: 8em;

  
}

.container-cards-portfolio {
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 10em;

}




/* Contact Form */

#fs-frm {
    max-width: 700px;
    margin: 2em 0 0 8em;
 
    /* margin: 0 auto; */

    padding: 20px;
    background-color: #eeeeee;
    border-radius: 5px;
    overflow: hidden; /* Hide overflow for image */
}

/* Style for the left column (image) */
.left-column {
    float: left;
    width: 50%; /* 50% width for the left column */
    padding: 10px;
}

/* Style for the right column (form fields) */
.right-column {
    float: left;
    width: 50%; /* 50% width for the right column */
    padding: 10px;
}

/* Style for the image */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Style for form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for form inputs and textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

/* Style for the submit button on hover */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style for the hidden subject field */
input[type="hidden"] {
    display: none;
}



/* footer */

.footer {

    text-align: center;
    color: black;
    padding: 10px;
}





