/* Reset margin and padding for the body and html elements */

  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Martel&family=Poppins:wght@200&display=swap');

    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
  
}

/* sidebar */
    .sidebar{
        background-color: #14376c;
        width: 150px;
        height: 100%;
        position: fixed;
    /* display: flex; 
    flex-direction: column; 
    justify-content: center;  */
   
}
    .sidebar-style{
        list-style-type:none;
}

   /* Add padding to the list items */
    .sidebar-style li {
        padding: 20px 0; /* top and bottom padding */
}

  /* Remove underlines from links within list items */
    .sidebar-style li a {
        text-decoration: none;
        color: black;
}

    .container-sidebar {
        display: flex;
}

/* icons */
.sidebar-icons {
    list-style: none; /* Remove list bullets */
    padding: 0; /* Remove default padding */
}
/* Style for the icon items */
.sidebar-icons li {
    margin-bottom: 25px; /* Add vertical spacing between icons */
    margin-left: 40px;
}


/* Style the first name */
.name {
    margin-top: 2em;

  
} 

.first-name {
    color: #14376c; /* Change the color as desired */
    margin-left: 3em; /* Add left margin to separate from the last name */
    font-weight: bold;
    font-size: larger;
   
}

/* Style the last name */
.last-name {
    color: rgb(217, 166, 14); /* Change the color as desired */

    font-weight: bold;
    font-size: larger;

}


/* About Me */
.container-about {
        margin-top: 10px; /* Add margin to separate from the name */
        margin-left: 7.6em;
        
      
}
.img-headshot {
    height: 10em;
    border-radius: 50%;
    border: 4px solid #76ba7f;
   
   
}
.about-me p {
    font-size: 16px; /* Adjust the paragraph font size */
    line-height: 1.5; /* Set the line height for better readability */
    color: #666; /* Set the paragraph text color */
}


.art-img {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    border-left: #14376c solid 12px;

}








